# Systemd service file for oauth2_proxy daemon
#
# Date: Feb 9, 2016
# Author: Srdjan Grubor <sgnn7@sgnn7.org>
# Additional Edits
# Date: Sept 23, 2020
# Author: Dan Thomson <dthomson@triumf.ca>

[Unit]
Description=oauth2_proxy daemon service
After=syslog.target network.target

[Service]
# oauth2_proxy group and user need to be created before using these lines
Type=forking
User={{ oauth2_proxy_user_name }}
Group={{ oauth2_proxy_user_group }}
SuccessExitStatus=0/SUCCESS
ExecStart={{ oauth2_proxy_install_path }}/bin/oauth2_proxy --config "/etc/oauth2_proxy/oauth2_proxy.conf" --logging-filename /var/log/oauth2_proxy/oauth2_proxy.log

KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
